<p>Where are you?</p>
<input class="location-search" type="text">

<button class="show-all">All</button>
<button class="show-bike">Bike</button>
<button class="show-metro">Metro</button>

<ul class="search-results"></ul>